<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Challenge 5 - Sujin Choi</title>

    <style>
        * {
            font-family: 'Oxygen', sans-serif;
        }

        .wrapper {
            width: 80%;
            align-items: center;
            justify-content: center;
            place-content: center;
        }

        button {
            width: 86px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Hello, I am a product designer Susie</h1>
        <h2>While working in the field for about 2 years, I’ve interdisciplinarily worked with marketers,
            developers ⎯ front/backend, PMs and designers. As a constant learner, I always value feedback from
            coworkers and beleive growth as a team.</h2>
        <button><a href="https://suzz-design.com/">Portfolio</a></button>
    </div>
</body>

</html>